#cover-image-component{
    border-radius: inherit;
    position: relative;
    display: grid;
    place-content: center;
    height: 3.5rem;
    width: 3.5rem;
    overflow: hidden;
    background-color: var(--light-grey-color);
}

#cover-image-component img:not([src]){
    display: none;
}

#cic-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 250px;
    object-fit: cover;
    border-radius: inherit;
}

#music-svg{
    width: 70%;
    transform: translate(35%,0);
}

