#select-library-list{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);
    z-index: 100000000000000000000;
    padding: 0.5rem 1rem;
}

#sl-heading{
    font-size: var(--font-large);
    margin-bottom: 1.5rem;
}
