#your-songs{
    margin-top: 2rem;
    font-size: var(--font-large);
    font-weight: 500;
}

#songs-grid{
    margin-top: 1rem;
    margin-bottom: 6rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
    gap: 1rem;
}

