#navigation{
    z-index: 100000;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0.7rem 0.5rem;
    background-color: var(--secondary-color);
}

#navigation img{
    width: 1.5rem;
}

.pages{
    display: grid;
    place-items: center;
    cursor: pointer;
}

.page-label{
    margin-top: 1px;
    text-decoration: none;
    pointer-events: none;
    user-select: none;
    font-size: 12px;
}
