#cover{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -70%);
    display: flex;
    place-content: center;
    z-index: 1000000000;
}

#cover-img-container{
    position: relative;
    display: grid;
    place-content: center;
    margin-top: 3rem;
    height: 80vw;
    width: 80vw;
    max-width: 300px;
    max-height: 300px;
    border-radius: 0.4rem;
    overflow: hidden;
    background-color: var(--light-grey-color);
}

#cover-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
}

#cover-img-container img:not([src]) {
    display: none;
  }
