.library-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    cursor: pointer;
}

.library-item-inner{
    display: flex;
    align-items: center;
}

.lib-item-cover{
    display: grid;
    place-items: center;
    position: relative;
    height: 4rem;
    width: 4rem;
    background-color: var(--light-grey-color);
}

.lib-item-icon{
    fill: white;
    width: 70%;
}

.library-img{
    height: inherit;
    opacity: 0;
    position: absolute;
    object-fit: cover;
    width: 100%;
    top: 0;
    left: 0;
}

.library-details{
    margin-left: 1rem;
}

.lib-library-name{
    font-size: var(--font-medium);
}

.library-type{
    color: white;
    opacity: 0.4;
    font-weight: 300;
    margin-top: -5px;
}