#upload-btn button{
    font-size: var(--font-medium);
    font-weight: 500;
    width: 100%;
    background-color: var(--authentic-green-accent);
    padding: 0.5rem 1rem;
    margin-bottom: 4rem;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    cursor:pointer;
}

/* Upload Files */

#upload-files-grid{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
    gap: 1rem;
    overflow: hidden;
}

.upload-area{
    aspect-ratio: 1 / 1;
    position: relative;
    display: grid;
    place-content: center;
    background-color: var(--secondary-color);
    border-radius: 0.5rem;
    text-align: center;
    cursor: pointer;
}

.upload-area input{
    z-index: -100000000000;
    position: absolute;
    left: 0;
    bottom: 1rem;
    width: 100%;
}

#upload-photo-img{
    display: grid;
    place-items: center;
}

.images{
    height: 3.3rem;
    filter: invert(1);
    margin-bottom: 0.4rem;
}

.music-icon{
    height: 4rem;
    fill: white;
    margin-left: -5px;
}

.upload-area-titles{
    font-size: var(--font-small);
    opacity: 0.7;
    width: 100%;
}

.upload-area-titles span{
    color: var(--lyrics-bg);
}

#cover-preview{
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    opacity: 0;
    object-fit: cover;
}