#player{
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.7rem;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-width: 100%;
    z-index: 10000000;
    background-color: var(--primary-color);
    cursor: default;
}

#player-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 14px;
}

.icons{
    cursor: pointer;
}
