@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root{
  /* Colors */
  --primary-color: #000;
  --secondary-color: #121212;
  --authentic-grey-accent: #282828;
  --light-grey-color: #a7a7a7;
  --authentic-green-accent: #1ed760;
  --lyrics-bg: #e52828;

  /* Font Sizes */
  --font-small: 12px;
  --font-medium: 20px;
  --font-large: 25px;
}

body{
  background-color: var(--primary-color);
  padding:0.8rem;
  color: white;
}

.icons{
  width: 25px;
  filter: invert(1);
}